<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.buildDockerImageLaunchConfigurationType">
    <stringAttribute key="dockerConnection" value="http://127.0.0.1:2375"/>
    <stringAttribute key="dockerfileName" value="Dockerfile"/>
    <booleanAttribute key="forcerm" value="false"/>
    <booleanAttribute key="noCache" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="quietBuild" value="false"/>
    <stringAttribute key="repoName" value="analytics-service:lastest"/>
    <booleanAttribute key="rm" value="false"/>
    <stringAttribute key="sourcePathLocation" value="/analytics-service"/>
    <booleanAttribute key="sourcePathWorkspaceRelativeLocation" value="true"/>
</launchConfiguration>
